#about-img-container {
    width: 500px;
}

#about-man {
    width: 90%;
    height: 90%;
    margin: 5%;
}

#about-bg {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1850px) {
    #about-img-container {
        min-width: 450px;
    }
}

@media screen and (max-width: 1030px) {
    #about-img-container {
        min-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    #about-img-container {
        min-width: auto;
        width: auto;
    }
}