#background {
    border-radius: 100px;
    height: calc(100% + 200px);
    width: calc(100% + 200px);
    margin: 20% 35%;
}

#main-image-container {
    min-width: 300px;
    max-width: 800px;
    max-height: 500px;
}

#main-man-img {
    width: 100%;
    height: 100%;
    margin-left: 15%;
}

@media (max-width: 600px) {
    #main-image-container {
        max-height: 350px;
    }
}

@media (max-width: 400px) {
    #background {
        margin: 40% 40%;
    }
}

@media (min-width: 1200px) {
    #main-image-container {
        max-width: 1800px;
        height: 90vh;
        max-height: 2000px;
    }
    #background {
        border-radius: 100px;
        height: calc(100% + 400px);
        width: calc(100% + 200px);
        margin: 20% 35%;
    }
}